<!-- <ul class="list-group">
    <li  (click)="clearBrand()" routerLink="/cars" [class]="getAllBrandClass()">Tüm Markalar</li>
    <li (click)="setCurrentBrand(brand)" routerLink = "/cars/brand/{{brand.brandId}}" *ngFor="let brand of brands" [class] = "getCurrentBrandClass(brand)">{{brand.brandName}}</li>
</ul> -->


<ul class="list-group">
    <li class="list-group-item text-center text-white bg-dark" (click) = "clearBrand(); route();" [class]="getAllBrandClass()">
        
        MARKALAR
        
    </li>
    
    <div class="mb-3 ">
      <input type="text" [(ngModel)]="filterText" class="form-control" id="filterText" placeholder="Marka Giriniz.">
    </div>
    

    <li class="list-group-item bg-light" 
      (click) = "setCurrentBrand(brand); route();"
      *ngFor = "let brand of brands | brandFilterPipe:filterText"
      [class] = "getCurrentBrandClass(brand)"
      class="form-check-label">
      {{brand.brandName}}
    </li>

    
  </ul>