<div class="list-group">
  <button (click)="setNumber('1')" type="button" class="list-group-item list-group-item-action">Car</button>
  <button (click)="setNumber('2')" type="button" class="list-group-item list-group-item-action">Customer</button>
  <button (click)="setNumber('3')" type="button" class="list-group-item list-group-item-action">Color</button>
  <button (click)="setNumber('4')" type="button" class="list-group-item list-group-item-action">Brand</button>
  <button (click)="setNumber('5')" type="button" class="list-group-item list-group-item-action">Rental</button>
</div>
