

<div class="container">
  <app-navi></app-navi>
  <div class="row">
    <div class="col-md-3">
      <app-category  (NumberEvent)="setNumber($event)"></app-category>
    </div>
    <div [ngSwitch]="number" class="col-md-9">
      <app-car *ngSwitchCase="'1'"></app-car>
      <app-customer *ngSwitchCase="'2'"></app-customer>
      <app-color *ngSwitchCase="'3'"></app-color>
      <app-brand *ngSwitchCase="'4'"></app-brand>
      <app-rental *ngSwitchCase="'5'"></app-rental>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
