<div class="content">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h5>Araba Ekle</h5>
            </div>
            <div class="card-body">
                <form [formGroup]="carAddForm">
                    <div class="row">
                        <div class="col-6">
                            <label for="carName">Araba adı</label>
                            <div class="form-group">
                                <input type="text" id="carName" formControlName="carName" class="form-control" placeholder="Araba adı" [(ngModel)]="carName"/>
                            </div>
                        </div>
                        <div class="col-6">
                            <label for="dailyPrice">Araba Kira Fiyatı - Günlük ($)</label>
                            <div class="form-group">
                                <input type="number" id="dailyPrice" formControlName="dailyPrice" class="form-control" placeholder="Fiyat"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <label for="brandId">Marka</label>
                            <select
                              formControlName="brandId"
                              id="brandId"
                              class="form-control"
                            >
                            <option value="-1" disabled selected>Marka seçiniz..</option>
                              <option  *ngFor="let brand of brands; let i = index" [value]="i">
                                 {{brand.brandName}}
                              </option>
                            </select>
                          </div>
                          <div class="col-3">
                            <label for="modelYear">Araba Yılı</label>
                            <select
                              formControlName="modelYear"
                              id="modelYear"
                              class="form-control"
                            >
                            <option value="" disabled selected>Yıl seçiniz..</option>
                              <option *ngFor="let year of years">
                                 {{year}} 
                              </option>
                            </select>
                          </div>
                          <div class="col-6">
                            <label for="colorId">Renk</label>
                            <select
                              formControlName="colorId"
                              id="colorId"
                              class="form-control" 
                            >
                            <option value="-1" disabled selected>Renk seçiniz..</option>
                              <option *ngFor="let color of colors; let i = index" [value]="i">
                                 {{color.colorName}} 
                              </option>
                            </select>
                          </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <button class="btn btn-fill btn-success" (click)="add();">Ekle</button>
            </div>
        </div>
    </div>
</div>